@model MvcApplication3.Models.Users

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Users</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pwd)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pwd)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LogTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LogTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Token)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Token)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
